*.DS_Store
*.prefs
*.class
~$*.*
LICENSE
test_install
*.bbl
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.prefs
*.class
~$*.*
LICENSE
test_install
.metadata
.recommenders
bin
bugdetectionexample/runtime-*/*.csv
bugdetectionexample/runtime-*/*/*.csv
bugdetectionexample/runtime-*/runtime-*/*
bugdetectionexample/runtime-bugdetectionexample
bugdetectionexample/runtime-simpleBindingProject/.metadata
bugdetectionexample/runtime-security-bug-detector/3670_philippc_keepass2android
bugdetectionexample/runtime-bugdetectionexample/AndroidUtilCode
bugdetectionexample/runtime-security-bug-detector/AndroidUtilCode/utilcode/lib/src/test/res
3670_philippc_keepass2android.zip
bugdetectionexample/runtime-security-bug-detector/150v2_kunzisoft_keepassdx/bin
bugdetectionexample/runtime-bugdetectionexample
bugdetectionexample/runtime-simpleBindingProject/.metadata
bugdetectionexample/runtime-security-bug-detector/3670_philippc_keepass2android
bugdetectionexample/runtime-bugdetectionexample/AndroidUtilCode
bugdetectionexample/eclipseworkspace/tmp1
workspace-bugtracking/bugtracking/output
workspaceMSR/input-libs
workspaceMSR/input-posts
workspaceMSR/input-libs.tar.gz
workspaceMSR/input-posts.tar.gz
.metadata.zip
bugdetectionexample/runtime-security-bug-detector/jcaCountMac.csv
bugdetectionexample/runtime-security-bug-detector/jcaIndicatorCountMac.csv
bugdetectionexample/runtime-security-bug-detector/pattern3-misuse-const-secret-key/case1-misuse-const-secret-key/PATH_DETECTOR_FILEPATH_MAC.csv
bugdetectionexample/runtime-security-bug-detector/pattern3-misuse-const-secret-key/case1-misuse-const-secret-key/PATH_TYPE_FILEPATH_MAC.csv
bugdetectionexample/runtime-security-bug-detector/repairExamples/PATH_DETECTOR_FILEPATH_MAC.csv
bugdetectionexample/runtime-security-bug-detector/repairExamples/PATH_TYPE_FILEPATH_MAC.csv
jcaCountMac.csv
